<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="NpritingUserName" value="3U9fNYnxb0aVzszloZMnlP30EufzkPDqq/FcY+7NKvI=" />
    <add key="NpritingPassword" value="sXtnRDRDdHH5SG8zWvdcDNtmJ6h27bYRqV17gISHDOI=" />
    <add key="NPrintingAuthentication" value="https://34.195.204.223:4993/api/v1/login/ntlm" />
    <add key="NPrintingGetUsers" value="https://34.195.204.223:4993/api/v1/users/" />
    <add key="NPrintingGetReports" value="https://34.195.204.223:4993/api/v1/reports/" />
    <add key="NPrintingGetTasks" value="https://34.195.204.223:4993/api/v1/tasks/" />
    <add key="NPrintingGetFilters" value="https://34.195.204.223:4993/api/v1/filters/" />
    <!--<add key="NPrintingAuthentication" value="https://nprintpp.otis.com:4993/api/v1/login/ntlm" />
    <add key="NPrintingGetUsers" value="https://nprintpp.otis.com:4993/api/v1/users/" />
    <add key="NPrintingGetReports" value="https://nprintpp.otis.com:4993/api/v1/reports/" />
    <add key="NPrintingGetTasks" value="https://nprintpp.otis.com:4993/api/v1/tasks/" />
    <add key="NPrintingGetFilters" value="https://nprintpp.otis.com:4993/api/v1/filters/" />-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="dbconnection" connectionString="DLBg6bXX2ZPWm3x0N0g0DaRv672qqUci+fD/6fTklxLJ/Q+U2ucAaWK66emWJ5H7DQWzJ0KDPB48axJ9skat90uWqyqyZ80Si5OAfHU/EyyrInlmSRfKW1n4QLoZtEQwSIdHrsuJ0l8ZuwCeDrf4NxN4s2Il9uzLcSxYB+yFBKy7XBVkdg6jHWor17YVqm2kwopwFuqs+fd9CnxqzttmLXi3x3rYsdkAs4MegME0zX5qqPFlxcNeDHHcDu08zpMovSyvWj8TBOHVoSrbjeoxzw==" providerName="System.Data.SqlClient" />
    <add name="dbconnection_NPT" connectionString="DLBg6bXX2ZPWm3x0N0g0DaRv672qqUci+fD/6fTklxLJ/Q+U2ucAaWK66emWJ5H7DQWzJ0KDPB48axJ9skat90uWqyqyZ80Si5OAfHU/EywvuRfSJzZRLjdvkKB2cIh6GsvEauXYX71oP8CfkFP/ew7hVTrxO2GHcEmPwTMqLPyG65NwLjIrZoyWjHsD6JDI3N1UOwPjG+X8Sq72yddkSV9OtP3CMN/vlb4+DGD7SRgZLp5oLmLiPwgCY0jwdkpuasXLRQvojhJcLThqVX2hpg==" providerName="System.Data.SqlClient" />
    <!--<add name="dbconnection_NPT" connectionString="DLBg6bXX2ZPWm3x0N0g0DaRv672qqUci+fD/6fTklxLJ/Q+U2ucAaWK66emWJ5H7DQWzJ0KDPB48axJ9skat90uWqyqyZ80Si5OAfHU/EywvuRfSJzZRLjdvkKB2cIh6GsvEauXYX71oP8CfkFP/ew7hVTrxO2GHcEmPwTMqLPyG65NwLjIrZoyWjHsD6JDI3N1UOwPjG+X8Sq72yddkSV9OtP3CMN/vlb4+DGD7SRgZLp5oLmLiPwgCY0jwdkpuasXLRQvojhJcLThqVX2hpg==" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbconnection" connectionString="HCkf80zen5oaW/nIgZmf5A6Aey004zguDzTVPL0MpxhdvsP6KiSADOa6YKC0sfRQUonDL0R0OZF2ySUHvcDbErp2KL6hpEFhqMOQot9hrHld1iS0lSDbZzpSktlYc6X72HUnhdbfmOnNALdj9cHf/eWSfLqk6sbm" providerName="System.Data.SqlClient" />
    <add name="dbconnection_NPT" connectionString="HCkf80zen5oaW/nIgZmf5A6Aey004zguDzTVPL0MpxhdvsP6KiSADOa6YKC0sfRQQal/F4hryKLEa2xnr/+wAUXftWAc8OzKWzTtj+kmtwE7+9P9A6wHXXYUpIvLCYkeQHuuCQdH7cI=" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>

